@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  color: #323f4b;
}

* {
  transition: all 0.2s ease-in-out;
}

body {
  background-color: #fafafa;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 20px 20px 40px 20px;
}

main {
  max-width: 760px;
  margin: 0 auto;
  overflow: visible;
  padding: 20px;
}

@layer components {
  .card {
    @apply bg-white rounded-lg px-4 py-2 w-full justify-between items-center;
  }

  .card-done {
    @apply bg-gray-100 line-through text-gray-300 decoration-gray-600
  }

  .card-dragging {
    @apply opacity-20
  }

  .hoverable {
    @apply hover:bg-gray-100 focus:bg-gray-100 focus:outline-none rounded-md px-2 py-1;
  }

  .bg-hover {
    @apply bg-gray-100;
  }

  .visible-hover {
    @apply opacity-0;
  }

  .parent-hover:hover .visible-hover {
    @apply opacity-100;
  }
}
